* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #dc0b0bc4;
    
      background-image: url("basicbg.png");
    background-size: 350px;
}

.content {
    width: 90vw;
   margin: auto;
    background-color: #fffffff7;
    border-radius: 10px;
    padding: 0 20px;
    
  
}



@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}